<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/styles.css">
    <title>Guide</title>
</head>
<body>
    <main class="main">
        <!--==================== HOME ====================-->
        <section class="home">
            <div class="home__container container">
                <div class="home__data_01">
                    <a href="Soil.html" class="home__button">
                        Soil
                    </a>
                    
                    <a href="Fertilizer.html" class="home__button">
                        Fertilizer
                    </a>

                    <a href="Crop.html" class="home__button">
                        Crop
                    </a>

                    <!-- <a href="" class="home__button">
                        Crop Rating
                    </a> -->
                </div>
            </div>

            <!-- <footer class="home__footer">
                <span>9326007088</span>
                <span>|</span>
                <span>nidan 2023</span>
            </footer> -->
        </section>
    </main>
    
    <script src="../static/main.js"></script>
    <script src="../static/scrollreveal.min.js"></script>
</body>
</html>