<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/about_styles.css">
    <title>Soil</title>
</head>
<body>
    <main class="main">
        
        <!--==================== HOME ====================-->
        <section class="home" style="margin: 4rem; font-size: 1.4rem;">
                    <h3>Clay:</h3>
                    <p>
                        Clay is the smallest particle among the other two types of soil. The particles in this soil are tightly packed together with each other with very little or no airspace. This soil has very good water storage qualities and makes it hard for moisture and air to penetrate into it. It is very sticky to the touch when wet but smooth when dried.  Clay is the densest and heaviest type of soil which does not drain well or provide space for plant roots to flourish.
                    </p>

                    <img src="../static/Clay.png" alt="Clay_IMG" srcset="" style="width: 250px;">
                
                    <br>

                    <hr>

                    <br>

                    <h3>Loamy:</h3>
                    <p>
                        Loam is the fourth type of soil. It is a combination of sand, silt and clay such that the beneficial properties of each are included. For instance, it has the ability to retain moisture and nutrients; hence, it is more suitable for farming. This soil is also referred to as agricultural soil as it includes an equilibrium of all three types of soil materials, being sandy, clay, and silt, and it also happens to have humus.  Apart from these, it also has higher calcium and pH levels because of its inorganic origins.
                    </p>

                    <img src="../static/Loamy.png" alt="Loamy_IMG" srcset="">

                    <br>

                    <hr>

                    <br>

                    <h3>Sandy Soil:</h3>
                    <p>
                        The first type of soil is sand. It consists of small particles of weathered rock. Sandy soils are one of the poorest types of soil for growing plants because it has very low nutrients and poor water holding capacity, which makes it hard for the plant’s roots to absorb water. This type of soil is very good for the drainage system. Sandy soil is usually formed by the breakdown or fragmentation of rocks like granite, limestone and quartz.
                    </p>
                    <img src="../static/Sandy.png" alt="Sandy_IMG" srcset="">

                    <br>

                    <hr>

                    <br>

                    <h3>Black soil:</h3>
                    <p>
                        Black soils are derivatives of trap lava and are spread mostly across interior Gujarat, Maharashtra, Karnataka, and Madhya Pradesh on the Deccan lava plateau and the Malwa Plateau, where there is both moderate rainfall and underlying basaltic rock. Because of their high clay content, black soils develop wide cracks during the dry season, but their iron-rich granular structure makes them resistant to wind and water erosion.
                    </p>
                    <img src="../static/Black.jpg" alt="Black-Soil_IMG" srcset="" style="border-radius: 1000px; border: #ffffff 10px solid; margin: 1.2rem;">
                    
                    <br>

                    <hr>

                    <br>

                    <h3>Alluvial Soil:</h3>
                    <p>
                        Alluvial soil has the highest productivity with respect to other soils. It is present mostly along rivers and is carried by its streams during weathering of rocks. The soil is generally covered by tall grasses and forests, as well as a number of crops, such as rice, wheat, sugarcane, tobacco, maize, cotton, soybean, jute, oilseeds, fruits, vegetables, etc. This soil has very soft strata with the lowest proportion of nitrogen and humus but with an adequate amount of phosphate.
                    </p>
                    <img src="../static/Alluvial.jpg" alt="Alluvial-Soil_IMG" srcset="" style="border-radius: 1000px; border: #ffffff 10px solid; margin: 1.2rem;">

                    <h3>Volcanic soil:</h3>
                    <p>Volcanic soils form by weathering of volcanogenic materials. Their distribution on the Earth parallels that of terrestrial volcanoes, and they are found across various climates, but most of them are classified as Andisols. This soil group shares unique physical and chemical properties largely attributable to the formation of poorly crystalline and noncrystalline minerals, and the accumulation of organic matter.</p>
                    <img src="../static/Volcanic.jpg" alt="Volcanic_Soil-IMG" srcset="" style="border-radius: 1000px; border: #ffffff 10px solid; margin: 1.2rem;">
                <!-- <footer class="home__footer">
                <span>9326007088</span>
                <span>|</span>
                <span>nidan 2023</span>
            </footer> -->
        </section>
    </main>
    
    <script src="../static/main.js"></script>
    <script src="../static/scrollreveal.min.js"></script>
    
</body>
</html>