<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corn Report</title>
    <link rel="stylesheet" href="../static/applerust.css">

</head>
<body>
    <div>
        <div style="text-align: center;">
            <h1>Report</h1>
        </div>

        <ul style="margin: 5rem; font-size: 1.5rem;">
            <li>Name: {{name}}</li>
            <li>Phone: {{no}}</li>
            <li>Address: {{addr}}</li>
            <li>State: {{states}}</li>
            <li>District/Region: {{regions}}</li>
            <li>Type of soil: {{soil}}</li>
            <li>Season:{{season}}</li>
            <li>Fertilizer Used: {{Fertilizer}}</li>
        </ul>

        <div style="text-align: center;">
            <h2>Disease Diagnosed</h2>
            <h3>Apple Cedar Apple Rust</h3>
        </div><br>
        <hr>

        <div class="solution" style="text-align: center;">
            <h2 style="margin: 2.2rem;">Solution</h2>
        </div>
        <p style="margin: 5rem; font-size: 1.5rem;">
            Cedar-apple rust and related rust fungi need plants from two plant 
            families to complete their life cycle; Cupressaceae family (eastern red 
            cedar and other junipers) and Rosaceae (apple, hawthorn, serviceberry). 
            <li> Bright orange to red leaf spots occur on apples, hawthorns, and other plants in the Rosaceae family. </li>
            <li> Hardy woody galls, witches brooms and swollen stems covered in gummy, orange, fungal growth in spring occur on juniper and eastern red cedar. </li>
            <li> These fungi rarely cause serious damage to their hosts and do not require management in most cases.</li>
            
            Cedar-apple rust
            <li> Disease is most common on apple and crabapple. It occurs occasionally on hawthorn. </li>
            <li> Leaf spots are first yellow then turn bright orange-red, often with a bright red border. </li>
            <li> Small, raised, black dots form in the center of leaf spots on the upper leaf surface when the leaf spots mature. </li>
            <li> Very short (less than 1/10th inch), finger-like fungal tubes stick out from the lower surface of the leaf, directly below leaf spots. </li>
            <li> The fungal tubes appear fringed when they open at the tip to release yellow to orange, powdery spores. </li>
            <li> Rarely, green to brown irregular spots with black dots form on the fruit surface. Fruit spots do not extend deep into the fruit. </li>
            Cultural Control Practices
            <li> Tolerate leaf spots and fruit infection on apples, hawthorns, serviceberry and other plants in the Rosaceae family. They do not significantly affect the health of the tree if leaf loss does not occur.</li> 
            <li> Do not plant eastern red cedar and juniper plants within a few hundred yards of susceptible Rosaceae plants. This will reduce diseases problems but not completely eliminate them. </li>
            <li> Inspect nearby juniper and red cedar trees in late winter or early spring. Prune and remove brown, woody galls found before orange, gelatinous structures form in the spring. This will help reduce the level of infection on nearby Rosaceae plants.</li> 
            <li> Prune and remove infected twigs or branches on Rosaceae plants if they occur.</li>
        </p>



    </div>


    
</body>
</html>