<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corn Report</title>
    <link rel="stylesheet" href="../static/applescab.css">

</head>
<body>
    <div>
        <div style="text-align: center;">
            <h1>Report</h1>
        </div>

        <ul style="margin: 5rem; font-size: 1.5rem;">
            <li>Name: {{name}}</li>
            <li>Phone: {{no}}</li>
            <li>Address: {{addr}}</li>
            <li>State: {{states}}</li>
            <li>District/Region: {{regions}}</li>
            <li>Type of soil: {{soil}}</li>
            <li>Season:{{season}}</li>
            <li>Fertilizer Used: {{Fertilizer}}</li>
        </ul>

        <div style="text-align: center;">
            <h2>Disease Diagnosed</h2>
            <h3>Apple Scab</h3>
        </div><br>
        <hr>

        <div class="solution" style="text-align: center;">
            <h2 style="margin: 2.2rem;">Solution</h2>
        </div>
        <p style="margin: 5rem; font-size: 1.5rem;">
            How to identify apple scab 
            <li> Leaf spots are round, olive-green in color and up to ½-inch across.</li> 
            <li> Spots are velvet-like with fringed borders. </li>
            <li> As they age, leaf spots turn dark brown to black, get bigger and grow together. </li>
            <li> Leaf spots often form along the leaf veins. </li>
            <li> Leaves with many leaf spots turn yellow and drop by mid-summer. </li>
            <li> Infected fruit have olive-green spots that turn brown and corky with time. </li>
            <li> Fruit that are infected when very young become deformed and cracked as the fruit grows.</li>
            DISEASE MANAGEMENT:
            Clean up leaves in fall
Remove fallen leaves in fall to get rid of places where the fungus can survive 
the winter to re-infect trees the next year. Even with good fall clean up of 
fallen leaves, spores from nearby apple trees could travel to your property, 
starting the infection cycle again. 
<li> Rake up and destroy fallen leaves before the first snowfall. 
    <li> Infected leaves can be burned, buried or composted. </li>
    <li> Instead of raking, leaves can be chopped with a mulching lawn mower. </li>
    <li> Fall lawn fertilizer applications will help breakdown leaves that have been </li>
    <li> Fall lawn fertilizer applications will help breakdown leaves that have been chopped with a mulching lawn mower. </li>
    <li> In mulched areas, urea can be applied to chopped leaf litter to help with decomposition. </li>
    Fungicides to protect fruit trees from apple scab
Apples and edible crabapple trees that become severely infected with apple 
scab have poor quality fruit and reduced health as a result of leaf loss. 
Fungicides can be used to protect healthy trees from apple scab, but will not 
cure an infected tree.

        </p>



    </div>


    
</body>
</html>