<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corn Report</title>
    <link rel="stylesheet" href="../static/blackrot.css">

</head>
<body>
    <div>
        <div style="text-align: center;">
            <h1>Report</h1>
        </div>

        <ul style="margin: 5rem; font-size: 1.5rem;">
            <li>Name: {{name}}</li>
            <li>Phone: {{no}}</li>
            <li>Address: {{addr}}</li>
            <li>State: {{states}}</li>
            <li>District/Region: {{regions}}</li>
            <li>Type of soil: {{soil}}</li>
            <li>Season:{{season}}</li>
            <li>Fertilizer Used: {{Fertilizer}}</li>
        </ul>

        <div style="text-align: center;">
            <h2>Disease Diagnosed</h2>
            <h3>Apple Black Rot</h3>
        </div><br>
        <hr>

        <div class="solution" style="text-align: center;">
            <h2 style="margin: 2.2rem;">Solution</h2>
        </div>
        <p style="margin: 5rem; font-size: 1.5rem;">
            
            <li> Black rot is occasionally a problem on Minnesota apple trees. </li>
            <li> This fungal disease causes leaf spot, fruit rot and cankers on branches. </li>
            <li> Trees are more likely to be infected if they are</li>
            <li>o Not fully hardy in Minnesota. </li>
            <li>o Infected with fire blight. </li>
            <li>o Stressed by environmental factors like drought. </li>
            <li> Manage black rot by practicing good sanitation, taking good care of your trees and pruning your trees correctly. </li>
            <li> Fungicides are rarely needed to manage black rot.</li>
            DISEASE IDENTIFICATION
            Fruit symptoms 
            <li> Large brown rotten areas can form anywhere on the fruit but are most common on the blossom end. </li>
            <li> Brown to black concentric rings can often be seen on larger infections. </li>
            <li> The flesh of the apple is brown but remains firm. </li>
            <li> Small, black spots can be seen on older fruit infections. These are fungal spore producing structures, called pycnidia. </li>
            <li> Some fruit mummify (shrivel and dry out) and remain attached to the tree. </li>
            <li> Occasionally fruit are infected early in the season. This results in fruit that ripen early and are rotten at the core. </li>
            <li>Leaf symptoms</li>
            <li> Infected leaves develop "frog-eye leaf spot.”The se are circular spots with purplish or reddish edges and light tan interiors. </li>
            <li>Branch symptoms</li>
            <li> Cankers appear as a sunken, reddish-brown area on infected branches. Cankers often have rough or cracked bark. </li>
            <li> Cankers may be hard to see. If you see rotten fruit or frog-eye leaf spot, inspect your trees for canker</li>
        </p>



    </div>


    
</body>
</html>