<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corn Report</title>
    <link rel="stylesheet" href="../static/grayspot.css">

</head>
<body>
    <div>
        <div style="text-align: center;">
            <h1>Report</h1>
        </div>

        <ul style="margin: 5rem; font-size: 1.5rem;">
            <li>Name: {{name}}</li>
            <li>Phone: {{no}}</li>
            <li>Address: {{addr}}</li>
            <li>State: {{states}}</li>
            <li>District/Region: {{regions}}</li>
            <li>Type of soil: {{soil}}</li>
            <li>Season:{{season}}</li>
            <li>Fertilizer Used: {{Fertilizer}}</li>
        </ul>

        <div style="text-align: center;">
            <h2>Disease Diagnosed : None</h2>
            <h3>Healthy</h3>
        </div><br>
        <hr>

        <div class="solution" style="text-align: center;">
            <h2 style="margin: 2.2rem;">Solution</h2>
        </div>
        <p style="margin: 5rem; font-size: 1.5rem;">
            Common rust 
Disease Facts 
Common rust is caused by the fungus Puccinia sorghi. Late occurring 
infections have limited impact on yield. 
Management Strategies 
The use of resistant hybrids is the primary management strategy 
for the control of common rust. 
Timely planting of corn early during the growing season may help to 
avoid high inoculum levels or environmental conditions that would 
promote disease development. 
Symptoms 
Symptoms of common rust often appear after silking. 
Small, round to elongate brown pustules form on both leaf surfaces and 
other above ground parts of the plant. 
As the pustules mature they become brown to black. 
If disease is severe, the leaves may yellow and die early. 
The fungus overwinters on plants in southern states and airborne 
spores are wind-blown to northern states during the growing season. 
Disease development is favored by cool, moist weather (60 – 70◦ F). 

Management
Although rust is frequently found on corn in Ohio, very rarely has there been a 
need for fungicide applications. This is due to the fact that there are highly 
resistant field corn hybrids available and most possess some degree of 
resistance. However, popcorn and sweet corn can be quite susceptible. In 
seasons where considerable rust is present on the lower leaves prior to silking 
and the weather is unseasonably cool and wet, an early fungicide application 
may be necessary for effective disease control. Numerous fungicides are 
available for rust control. Consult your local county extension office and 
C.O.R.N. website for the latest recommendations for efficacy. Always read the 
fungicide label for rates and application timing. 


        </p>



    </div>


    
</body>
</html>