<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/styles.css">
    <title>Fertilizer</title>
</head>
<body>

    <h2>Npk fertilizer:</h2>
    <p>
        While all the Big 3 nutrients work together in a plant, each has some specific jobs. A simple trick for remembering what each component of N- P-K does is "head-arms-legs" for "leaves-flowers or fruit-roots."   
    </p>
    
    <p>
       <b><i>Nitrogen (N)</i></b> gets the growth show on the road. It's a building block for growing new stems and leaves, plus it is a necessary part of chlorophyll, which makes the leaves green and helps plants photosynthesize.
    </p>

    <p>
       <b><i>Phosphorus (P)</i></b> is needed for developing flowers, fruits, and root systems.
    </p>

    <p>
      <p><i>Potassium (K)</i></p> keeps roots healthy and also aids flowers and fruits. It helps plants tolerate stress, such as drought.
    </p> 
    
    <br>

    <h3>What Happens When Plants Don't Get Enough N-P-K?</h3>
    <p>
        Annuals such as p etunias and m arigolds and most vegetables live out their
        lives during the warmer months of a single year. They're often called "heavy feeders" because they pull a lot of N, P, and K out of the soil to fuel all their rapid growth during their short lives. Because of this, they're usually the first types of plants to show signs that the soil is low in nutrients. So keep your eyes peeled for these symptoms:

    </p>

    <ul>
        <li><b>Low nitrogen (N):</b> Pale green or yellowing older leaves, undersized leaves, or short or weak stems.</li>
        <li><b>Low phosphorus (P):</b> Red or purple tinges to leaves that are supposed to be green or leaves with twisted or irregular shapes.</li>
        <li><b>Low potassium (K): </b>Lower leaves that are dead at the edges or in spots or are wilting.</li>
    </ul>

    <p>
        A soil test will help determine which nutrients are missing if you see  these symptoms. You can get a quick and rough measurement of N-P-K with an inexpensive soil test kit from a garden center. For more detailed information and guidelines on how much fertilizer to add to the soil, mail a soil test to your state Cooperative Extension service.
    </p>

    <br>

    <h3>How to Choose the Right Fertilizer</h3>
    <p>Once you know what's missing, you can add the proper nutrients back into the soil with fertilizer. The numbers on the fertilizer label show the percentage of a nutrient in terms of the total volume in the fertilizer. So,a bag of rose food ($8, T he Home Depot) that says 12-6-10 means that it has 12% nitrogen, 6% phosphorus, and 10% potassium.
        You can give a plant a nudge in the direction you want it to grow by increasing one of the primary nutrients. For instance, if your roses have
         grown lots of leaves but aren't pushing out many blooms, try adding fertilizer with higher P to boost flower production but lower N, which stimulates leaf growth.
    </p>
    <br>

    <h3><i>Aluminium sulphate</i></h3>
    <p>
        Aluminium sulphate acidifies the soil by lowering its pH, making it suitable for acid-loving plants. When you mix aluminium sulphate with water, it forms a diluted solution of sulfuric acid and aluminium hydroxide. The sulfuric acid solution alters the acidity level of the soil.
    </p>
    <p>
        If your acid-loving plants aren’t thriving, you can carry out a soil test before starting the pH adjusting process. If the tests reveal you have alkaline soil, then you can apply aluminium sulphate.
    </p>
    <br>

    <h3><i>Household Uses</i></h3>
    <p>
        Some of the most common uses of aluminum sulfate are found within the home. The compound is often found in baking soda, although there’s some controversy over whether it’s appropriate to add aluminum to the diet. Some antiperspirants contain aluminum sulfate because of its antibacterial properties, although as of 2005 the FDA does not recognize it as a wetness reducer. Finally, the compound is the astringent ingredient in styptic pencils, which are designed to stop small cuts from bleeding.
    </p>
    <br>

    <h3><i>Gardening</i></h3>
    <p>
        Other interesting uses of aluminum sulfate around the house are in gardening. Because aluminum sulfate is extremely acidic, it’s sometimes added to very alkaline soils to balance the pH for plants. When  the aluminum sulfate comes into contact   with water, it forms aluminum hydroxide and a much diluted sulfuric acid solution, which alters the soil acidity. Gardeners who plant hydrangeas apply this property to change the flower color (blue or pink) of the hydrangeas since this plant is very sensitive to soil pH.
    </p>

    <h3><i>Dyeing Fabrics</i></h3>
    <p>
        Another one of the many uses of aluminum sulfate is in dyeing and printing on cloth. When dissolved in a large amount of water that has a neutral or slightly alkaline pH, the compound produces a gooey substance, aluminum hydroxide. The gooey substance helps dyes stick to the cloth fibers by making the dye water insoluble. The role of aluminum sulfate, then, is as a dye “fixer,” which means that it combines with the molecular structure of the dye and the fabric so the dye doesn’t run out when the fabric gets wet.
    </p>
    <p>
        Zinc sulfate helps to prevent low yields, spotted leaves and stunted growth. It can also be used as a natural fungicide.
    </p>
    <p>
        Benefits of using zinc sulfate include its relatively low cost and the fact that it is water soluble and, thus, is distributed into the soil quickly.
    </p>
    <p>
        Zinc is also time efficient since a single application will treat plants and crops for two to three years.
    </p>

    <br>
    <h2><i>Deficiency of this fertilizer:</i></h2>
    <ul>
        <li>Appears after one month of sowing.</li>
        <li>Light green, yellow to bleached spots between the veins of older leaves.</li>
        <li>The emerging leaves become smaller in size.</li>
        <li>Internodal distance becomes short in case of severe deficiency.</li>
        <li>Deficiency symptoms are prominent in Maize and Sugarcane that can be seen as yellow striping of leaves which becomes white in case of acute whereas Rice leaves becomes rusty.</li>
        <li>Cotton leaves also show bronzing of leaves whereas Soybean plants are stunted with light green-yellow leaves.</li>
    </ul>
    <br>

    <h2><i>Role of znic:</i></h2>
    <ul>
        <li>Regulates various metabolic activities.</li>
        <li>Involved in production of growth regulating plant hormones called Auxins.</li>
        <li>Zinc is vital for photosynthesis and nitrogen metabolism.</li>
        <li>Zinc Deficiency affects flowering and fruit development by prolonging the vegetative period and delaying maturity in lower yield with poor quality produce.</li>
        <li>Zinc is very essential for both plants & human being’s growth & development.</li>
    </ul>
    <br>

    <h2>Urea:</h2>
    <p>
        Urea, also known as carbamide, is a safe, useful compound with a significant history. It is a naturally occurring molecule that is produced by protein metabolism and found abundantly in mammalian urine.
    </p>
    <p>
        Urea is a source of Nitrogen, an essential nutrient crucial for crop growth and development. Urea is the most important nitrogenous fertilizer in the country because of its high N content (46%N). It also has industrial applications such as the production of plastics and as a nutritional supplement for cattle.
    </p>
    <p>
        Neem Coated Urea (N) is the Neem oil-coated Urea specially developed only to be used as agricultural fertilizer. The coating of Neem slows the nitrification of urea thereby helps in increased absorption of nutrients in the soil as well as reduces groundwater pollution.
    </p>
    <p>
        Urea has several advantages, including cost per pound of nitrogen, higher nutrient density and good handling and storage properties. The biggest disadvantage is the potential for volatilization. This occurs when urea is surface-applied and converted to ammonium carbonate by urease.
    </p>

    <br>

    <h2>Rust:</h2>
    <p>
        rust, p lant disease caused by more than 7,000 species of f ungi of the phylum Basidiomycota. Rust affects many economically important plant species and usually appears as yellow, orange, red, rust, brown, or black powdery pustules on l eaves, young shoots, and f ruits. Plant growth and productivity are commonly reduced, and some plants wither and die back. Control involves growing resistant varieties and rust-free plants, destroying alternate host plants, observing stringent sanitation measures, and using appropriate fungicides.
    </p>
    <br>

    <h4>What is Rust Disease?</h4>
    <p>
        Rust disease is an obligate fungal parasite that grows on a wide variety of plants useful to humans. All rust fungi are in the order Pucciniales (formerly Uredinales) although there are many types of individual rust diseases. Most of these types can only grow on one or two species of plant
    </p>

    <br>
    <h4>How do you treat rust fungus?</h4>
    <b><i>Chemical treatments</i></b>
    <p>Chemical fungicides should be used in early spring right when new growth appears on the plant or in the fall after leaf drop. Fungicides are not effective after rust symptoms appear. Chemical fungicides have to be repeated every 4-5 weeks while the temperature and moisture are conducive to the fungus. After the weather warms up, rust cannot reproduce even if it is present in the plant, so you can stop the treatments.

    </p>
    <p>
        Before using a fungicide, be sure the label mentions the name of your plant or family of plants on it. Obey all the directions and warnings on the label. Remember, the label is the law. Wear long sleeves, long pants, and closed- toe shoes to use any chemical, including organic ones. Be sure to change clothes after you use the fungicide so you don’t track it into the house.
    </p>

    <br>

    <b><i>Copper Fungicides</i></b>
    <p>
        Copper fungicides can provide control of some rust fungus, depending on the species of rust. Rust fungus has evolved to display resistance to some fungicides, so contact your Extension agent to find out if the rust you have is susceptible to copper.
    </p>

    <br>
    <b><i>Sulfur Fungicides</i></b>
    <p>Sulfur fungicides provide control of rust fungus. As with copper, some rusts may be resistant to this fungicide. Do not apply sulfur after the temperature has warmed up as it will damage the plant.</p>

    <br>
    <b><i>Rust Prevention</i></b>
    <ul>
        <li>Dust your plants with sulfur early in the season to prevent infection or to keep mild infections from spreading.</li>
        <li>Avoid wetting the leaves when watering plants.</li>
        <li>There are many effective rust fungicides you can try. Ask your local nursery for which products you should use.</li>
    </ul>

    <br>

    <h2>Apple cedar</h2>
    <b><i>At Pre-Bearing Age</i></b>
    <p>In India grapevines are pruned one year after planting. For developing adequate canopy, fast and</p>
    <p>profuse vegetative growth is encouraged. Thus by giving 100g urea together with 200g of super</p>
    <p>phosphate at monthly intervals to each vine develops adequate branches in pre-bearing period.</p>

    <b><i>At Bearing Age</i></b>
    <p>
        The efficiency of applied nutrients increases by placing them in the active feeder root zone. In grape
vines fertilizers are placed around the vine at 10-15 cm depth in a shallow circular ring of 60-75 cm
radius. Ring method is adopted to provide split doses of fertilizers to vines planted at wider spacing.
Band method is adopted in case of vines spaced at a closer spacing within a row and widely spaced
between the rows. A shallow trench is opened 45-60 cm away from the vine on either side of the row
and fertilizers are placed along the length and covered with soil.
In drip irrigated vineyards 10-15cm deep pit is excavated under the dripper. The number of pits
depends on the number of dripper placed around the vine. Fertilizer is applied in the pit and covered by
soil.
 
Nutrient requirement in case of grapevines differs from variety, soil characteristics and cultural

    </p>

</body>
</html>