<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grapes Report</title>
    <link rel="stylesheet" href="../static/blackrot.css">

</head>
<body>
    <div>
        <div style="text-align: center;">
            <h1>Report</h1>
        </div>

        <ul style="margin: 5rem; font-size: 1.5rem;">
            <li>Name: {{name}}</li>
            <li>Phone: {{no}}</li>
            <li>Address: {{addr}}</li>
            <li>State: {{states}}</li>
            <li>District/Region: {{regions}}</li>
            <li>Type of soil: {{soil}}</li>
            <li>Season:{{season}}</li>
            <li>Fertilizer Used: {{Fertilizer}}</li>
        </ul>

        <div style="text-align: center;">
            <h2>Disease not Diagnosed</h2>
            <h3>Healthy</h3>
        </div><br>
        <hr>

        <div class="solution" style="text-align: center;">
            <h2 style="margin: 2.2rem;">Solution</h2>
        </div>
        <p style="margin: 5rem; font-size: 1.5rem;">
            
        </p>



    </div>


    
</body>
</html>