<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corn Report</title>
    <link rel="stylesheet" href="../static/grayspot.css">

</head>
<body>
    <div>
        <div style="text-align: center;">
            <h1>Report</h1>
        </div>

        <ul style="margin: 5rem; font-size: 1.5rem;">
            <li>Name: {{name}}</li>
            <li>Phone: {{no}}</li>
            <li>Address: {{addr}}</li>
            <li>State: {{states}}</li>
            <li>District/Region: {{regions}}</li>
            <li>Type of soil: {{soil}}</li>
            <li>Season:{{season}}</li>
            <li>Fertilizer Used: {{Fertilizer}}</li>
        </ul>

        <div style="text-align: center;">
            <h2>Disease Diagnosed</h2>
            <h3>Cercospora Leaf Gray Spot</h3>
        </div><br>
        <hr>

        <div class="solution" style="text-align: center;">
            <h2 style="margin: 2.2rem;">Solution</h2>
        </div>
        <p style="margin: 5rem; font-size: 1.5rem;">
            Grey leaf spot (GLS) is a foliar fungal disease that affects maize, also known as corn. GLS is 
            considered one of the most significant yield-limiting diseases of corn worldwide.
            The fungus survives in the debris 
            of topsoil and infects healthy crops via asexual spores called conidia 
            In order to best prevent and manage corn grey leaf spot following solution can be made:
            <ul>
                <li>1. Susceptible hybrid </li>
                <li>2. Continuous corn </li>
                <li>3. Late planting date </li>
                <li>4. Minimum tillage systems </li>
                <li>5. Field history of severe disease </li>
                <li>6. Early disease activity (before tasseling) </li>
                <li>7. Irrigation </li>
                <li>8. Favorable weather forecast for disease </li>
                
            </ul>
        </p>



    </div>


    
</body>
</html>