<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grapes Report</title>
    <link rel="stylesheet" href="../static/idaripsis.css">

</head>
<body>
    <div>
        <div style="text-align: center;">
            <h1>Report</h1>
        </div>

        <ul style="margin: 5rem; font-size: 1.5rem;">
            <li>Name: {{name}}</li>
            <li>Phone: {{no}}</li>
            <li>Address: {{addr}}</li>
            <li>State: {{states}}</li>
            <li>District/Region: {{regions}}</li>
            <li>Type of soil: {{soil}}</li>
            <li>Season:{{season}}</li>
            <li>Fertilizer Used: {{Fertilizer}}</li>
        </ul>

        <div style="text-align: center;">
            <h2>Disease Diagnosed</h2>
            <h3>Leaf bright idaripsis leaf spot</h3>
        </div><br>
        <hr>

        <div class="solution" style="text-align: center;">
            <h2 style="margin: 2.2rem;">Solution</h2>
        </div>
        <p style="margin: 5rem; font-size: 1.5rem;">
          <li>  Grapevine measles, also called esca, black measles or Spanish measles, has long 
plagued grape growers with its cryptic expression of symptoms and, for a long 
time, a lack of identifiable causal organism(s). The name ‘measles’ refers to the 
superficial spots found on the fruit . During the season, the spots may 
coalesce over the skin surface, making berries black in appearance. Spotting can 
develop anytime between fruit set and a few days prior to harvest. Berries 
affected at fruit set tend not to mature and will shrivel and dry up. In addition to 
spotting, fruit affected later in the season will also have an acrid taste.</li> 
<li>Leaf symptoms are characterized by a ‘tiger stripe’ pattern 
when infections are severe from year to year. Mild infections can produce leaf 
symptoms  that can be confused with other diseases or 
nutritional deficiencies. White cultivars will display areas of chlorosis followed 
by necrosis, while red cultivars are characterized by red areas followed by 
necrosis. Early spring symptoms include shoot tip dieback, leaf discoloration and 
complete defoliation in severe cases. </li>
<li>Leaf symptoms can be found on canes with infected fruit; however, it is not 
uncommon for only the leaves or only fruit to show symptoms. Moreover, 
symptoms are not necessarily expressed every year. The most severe cases 
seem to occur in years with heavy spring rains, followed by consistently high 
summertime temperatures. In addition to the chronic symptoms that can plague 
a vineyard over its life, an acute expression of measles known as “apoplexy” can 
kill grapevines in a single year.</li>
        </p>



    </div>


    
</body>
</html>