<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corn Report</title>
    <link rel="stylesheet" href="../static/leafblight.css">

</head>
<body>
    <div>
        <div style="text-align: center;">
            <h1>Report</h1>
        </div>

        <ul style="margin: 5rem; font-size: 1.5rem;">
            <li>Name: {{name}}</li>
            <li>Phone: {{no}}</li>
            <li>Address: {{addr}}</li>
            <li>State: {{states}}</li>
            <li>District/Region: {{regions}}</li>
            <li>Type of soil: {{soil}}</li>
            <li>Season:{{season}}</li>
            <li>Fertilizer Used: {{Fertilizer}}</li>
        </ul>

        <div style="text-align: center;">
            <h2>Disease Diagnosed</h2>
            <h3>Northern Leaf Blight</h3>
        </div><br>
        <hr>

        <div class="solution" style="text-align: center;">
            <h2 style="margin: 2.2rem;">Solution</h2>
        </div>
        <p style="margin: 5rem; font-size: 1.5rem;">
             <li>The dark brown 
            or purple discoloration on leaf sheaths is also characteristic to northern corn leaf blight 
            (Exserohilum turcicum), southern corn leaf blight (Bipolaris maydis), or northern corn leaf spot 
            (Bipolaris zeicola). Corn grey leaf spot mature lesions are easily diagnosed and distinguishable 
            from these other diseases. Mature corn grey leaf spot lesions have a brown, rectangular and 
            vein-limited shape. Secondary and tertiary leaf veins limit the width of the lesion and sometimes 
            individual lesions can combine to blight entire leaves. </li>
            Management
In order to best prevent and manage corn grey leaf spot, the overall approach is to reduce the 
rate of disease growth and expansion. This is done by limiting the amount of secondary disease 
cycles and protecting leaf area from damage until after corn grain formation. High risks for corn 
grey leaf spot are divided into eight factors, which require specific management strategies. 
High risk factors for grey leaf spot in corn:
<li>1. Susceptible hybrid </li>
<li>2. Continuous corn </li>
<li>3. Late planting date </li>
<li>4. Minimum tillage systems </li>
<li>5. Field history of severe disease </li>
<li>6. Early disease activity (before tasseling) </li>
<li>7. Irrigation </li>
<li>8. Favorable weather forecast for disease </li>
             <li>Crop rotation</li>
             <li>The amount of initial inoculum will be reduced when a crop other than corn is planted for ≥2 
years in that given area; meanwhile proper tillage methods are carried out. Clean plowing and 1-
year crop rotation in the absence of corn allows for greater reductions of the disease as well. 
Note that conventional tilling can reduce disease but can lead to greater soil erosion.</li>
Residue management
<li>Burying the debris under the last year's crop will help in reducing the presence of Cercospora 
zeae-maydis, as the fungal-infected debris can only survive above the soil surface. Again this 
technique will aid in reducing the primary inoculum, but it will not completely eradicate the 
disease.</li>
<li>Fungicides</li>
    <li>Fungicides, if sprayed early in season before initial damage, can be effective in reducing 
disease. </li>

 </p>



    </div>


    
</body>
</html>