<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grapes Report</title>
    <link rel="stylesheet" href="../static/measles.css">

</head>
<body>
    <div>
        <div style="text-align: center;">
            <h1>Report</h1>
        </div>

        <ul style="margin: 5rem; font-size: 1.5rem;">
            <li>Name: {{name}}</li>
            <li>Phone: {{no}}</li>
            <li>Address: {{addr}}</li>
            <li>State: {{states}}</li>
            <li>District/Region: {{regions}}</li>
            <li>Type of soil: {{soil}}</li>
            <li>Season:{{season}}</li>
            <li>Fertilizer Used: {{Fertilizer}}</li>

        <div style="text-align: center;">
            <h2>Disease Diagnosed</h2>
            <h3>Grape esa black measles</h3>
        </div><br>
        <hr>

        <div class="solution" style="text-align: center;">
            <h2 style="margin: 2.2rem;">Solution</h2>
        </div>
        <p style="margin: 5rem; font-size: 1.5rem;">
            Esca is a complex disease whose symptoms arise from structural and physiological changes that cannot be reduced to a
            simple scheme of cause and effect. Consequently, symptoms that look alike may
            have different causes.
            Apart from the occasional delayed
            sprouting of esca-affected vines in the
            spring, external symptoms in the Northern
            Hemisphere develop on the crown between
            June and September, either through the
            entire vine or on single branches. The development of esca syndrome can be of two
            types, chronic or acute
        </p>



    </div>


    
</body>
</html>